$orange-dark: #ff5931;
$orange: #ff8264;
$orange-light: #ffab97;

$green: #4ec993;
$green-light: #75d5ab;

$white: #fff;

// Viewport Breakpoints
$tablet__breakpoint: 48rem; // 768px
$desktop__breakpoint: 80rem; //1280px